.login-box {
    background-color: var(--chatbar-color); /* Nền form */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: var(--button-text-color);
}

.login-box h1 {
    margin-bottom: 20px;
    color: var(--button-text-color);
}

.login-box input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--input-bg-color);
    color: var(--button-text-color);
}

.login-box button {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--button-login-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover {
    background-color: var(--button-hover-color); /* Màu hover */
}

.login-fail {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--button-text-color);
    background-color: var(--setting-btn-hover-color);
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    animation: fadeIn 0.15s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, 20px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.login-fail.show {
    display: block;
}
